// Package {{.PackageName}} 自动生成模板 {{.StructName}}
// @description <TODO description class purpose>
// @author {{.Author}}
// @File: {{.FileName}}
// @version 1.0.0
// @create {{.DateTime}}
package {{.PackageName}}

// {{.StructName}}View 结构体

type {{.StructName}}View struct {
    {{range .Table.Columns}}{{.FieldName}} {{if eq .FieldType "time.Time"}} string {{else}} {{.FieldType}} {{end}} `json:"{{.JsonField}}" form:"{{.JsonField}}"`
    {{end}}
}

type {{.StructName}}PageView struct {
    common.PageView
    // TODO 按需修改
    {{range .Table.Columns}}{{.FieldName}} {{if eq .FieldType "time.Time"}} string {{else}} {{.FieldType}} {{end}} `json:"{{.JsonField}}" form:"{{.JsonField}}"`
    {{end}}
}

type {{.StructName}}QueryView struct {
    // TODO 按需修改
    {{range .Table.Columns}}{{.FieldName}} {{if eq .FieldType "time.Time"}} string {{else}} {{.FieldType}} {{end}} `json:"{{.JsonField}}" form:"{{.JsonField}}"`
    {{end}}
}